.logo-image {
  height: 50px;
  width: 130px;
}

.heading-color {
  color: rgb(216, 6, 6);
}

.contact-section {
  background-image: url(../images/contact2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.social-media-link {
  font-size: 18px;
  padding: 4px;
}
